#summaryWrapper {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: -9999px;
    width: 100%;
    background: #fff;
    overflow: auto;
}

#summaryScroller {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

/**
 *
 * Pull down styles
 *
 */

#summaryPullDown, #summaryPullUp {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#summaryPullDown .pullDownIcon, #summaryPullUp .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#summaryPullDown .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullUp .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullDown.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullUp.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullDown.loading .pullDownIcon, #summaryPullUp1.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg) translateZ(0);
    }
    to {
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}