#yhWrapper {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: -9999px;
    width: 100%;
    background: #aaa;
    overflow: auto;
}

#swWrapper {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: -9999px;
    width: 100%;
    background: #aaa;
    overflow: auto;
}

#rjWrapper {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: -9999px;
    width: 100%;
    background: #aaa;
    overflow: auto;
}

#summaryWrapper1 {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: -9999px;
    width: 100%;
    background: #fff;
    overflow: auto;
}

#summaryWrapper2 {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: -9999px;
    width: 100%;
    background: #fff;
    overflow: auto;
}

#summaryWrapper3 {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: -9999px;
    width: 100%;
    background: #fff;
    overflow: auto;
}

#summaryWrapper4 {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: -9999px;
    width: 100%;
    background: #fff;
    overflow: auto;
}

#summaryWrapper5 {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: -9999px;
    width: 100%;
    background: #fff;
    overflow: auto;
}

#summaryWrapper6 {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: -9999px;
    width: 100%;
    background: #fff;
    overflow: auto;
}

#summaryWrapper7 {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: -9999px;
    width: 100%;
    background: #fff;
    overflow: auto;
}

#summaryWrapper8 {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: -9999px;
    width: 100%;
    background: #fff;
    overflow: auto;
}

#summaryWrapper9 {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: -9999px;
    width: 100%;
    background: #fff;
    overflow: auto;
}

#summaryWrapper10 {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: -9999px;
    width: 100%;
    background: #fff;
    overflow: auto;
}

#summaryWrapper11 {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: -9999px;
    width: 100%;
    background: #fff;
    overflow: auto;
}

#summaryWrapper12 {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: -9999px;
    width: 100%;
    background: #fff;
    overflow: auto;
}

#summaryWrapper13 {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: -9999px;
    width: 100%;
    background: #fff;
    overflow: auto;
}

#summaryWrapper81 {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: -9999px;
    width: 100%;
    background: #fff;
    overflow: auto;
}

#rydwWrapper1 {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: -9999px;
    width: 100%;
    background: #fff;
    overflow: auto;
}

#swxcWrapper {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: -9999px;
    width: 100%;
    background: #fff;
    overflow: auto;
}

#yhScroller {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#swScroller {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#rjScroller {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#summaryScroller1 {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#summaryScroller2 {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#summaryScroller3 {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#summaryScroller4 {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#summaryScroller5 {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#summaryScroller6 {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#summaryScroller7 {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#summaryScroller8 {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#summaryScroller9 {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#summaryScroller10 {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#summaryScroller11 {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#summaryScroller12 {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#summaryScroller13 {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#summaryScroller81 {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#rydwScroller1 {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#swxcScroller {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
}

#yhScroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

#swScroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

#rjScroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

#swxcScroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

/*#summaryScroller1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}*/

#yhScroller li {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    font-size: 14px;
}

#swScroller li {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    font-size: 14px;
}

#rjScroller li {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    font-size: 14px;
}

#swxcScroller li {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    font-size: 14px;
}

/*#summaryScroller1 li {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    font-size: 14px;
}*/

/**
 *
 * Pull down styles
 *
 */
#yhPullDown, #yhPullUp {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#swPullDown, #swPullUp {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#rjPullDown, #rjPullUp {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#summaryPullDown1, #summaryPullUp1 {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#summaryPullDown2, #summaryPullUp2 {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#summaryPullDown3, #summaryPullUp3 {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#summaryPullDown4, #summaryPullUp4 {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#summaryPullDown5, #summaryPullUp5 {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#summaryPullDown6, #summaryPullUp6 {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#summaryPullDown7, #summaryPullUp7 {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#summaryPullDown8, #summaryPullUp8 {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#summaryPullDown9, #summaryPullUp9 {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#summaryPullDown10, #summaryPullUp10 {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#summaryPullDown11, #summaryPullUp11 {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#summaryPullDown12, #summaryPullUp12 {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#summaryPullDown13, #summaryPullUp13 {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#summaryPullDown81, #summaryPullUp81 {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#rydwPullDown1, #rydwPullUp1 {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#swxcPullDown, #swxcPullUp {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#yhPullDown .pullDownIcon, #yhPullUp .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#swPullDown .pullDownIcon, #swPullUp .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#rjPullDown .pullDownIcon, #rjPullUp .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#summaryPullDown1 .pullDownIcon, #summaryPullUp1 .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#summaryPullDown2 .pullDownIcon, #summaryPullUp2 .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#summaryPullDown3 .pullDownIcon, #summaryPullUp3 .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#summaryPullDown4 .pullDownIcon, #summaryPullUp4 .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#summaryPullDown5 .pullDownIcon, #summaryPullUp5 .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#summaryPullDown6 .pullDownIcon, #summaryPullUp6 .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#summaryPullDown7 .pullDownIcon, #summaryPullUp7 .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#summaryPullDown8 .pullDownIcon, #summaryPullUp8 .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#summaryPullDown9 .pullDownIcon, #summaryPullUp9 .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#summaryPullDown10 .pullDownIcon, #summaryPullUp10 .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#summaryPullDown11 .pullDownIcon, #summaryPullUp11 .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#summaryPullDown12 .pullDownIcon, #summaryPullUp12 .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#summaryPullDown13 .pullDownIcon, #summaryPullUp13 .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#summaryPullDown81 .pullDownIcon, #summaryPullUp81 .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#rydwPullDown1 .pullDownIcon, #rydwPullUp1 .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#swxcPullDown .pullDownIcon, #swxcPullUp .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(images/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#yhPullDown .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#swPullDown .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#rjPullDown .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullDown1 .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullDown2 .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullDown3 .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullDown4 .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullDown5 .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullDown6 .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullDown7 .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullDown8 .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullDown9 .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullDown10 .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullDown11 .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullDown12 .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullDown13 .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullDown81 .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#rydwPullDown1 .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#swxcPullDown .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#yhPullUp .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#swPullUp .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#rjPullUp .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullUp1 .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullUp2 .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullUp3 .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullUp4 .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullUp5 .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullUp6 .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullUp7 .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullUp8 .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullUp9 .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullUp10 .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullUp11 .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullUp12 .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullUp13 .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullUp81 .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#rydwPullUp1 .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#swxcPullUp .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#yhPullDown.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#swPullDown.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#rjPullDown.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullDown1.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullDown2.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullDown3.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullDown4.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullDown5.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullDown6.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullDown7.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullDown8.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullDown9.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullDown10.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullDown11.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullDown12.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullDown13.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#summaryPullDown81.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#rydwPullDown1.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#swxcPullDown.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#yhPullUp.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#swPullUp.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#rjPullUp.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullUp1.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullUp2.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullUp3.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullUp4.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullUp5.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullUp6.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullUp7.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullUp8.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullUp9.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullUp10.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullUp11.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullUp12.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullUp13.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#summaryPullUp81.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#rydwPullUp1.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#swxcPullUp.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#yhPullDown.loading .pullDownIcon, #yhPullUp.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#swPullDown.loading .pullDownIcon, #swPullUp.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#rjPullDown.loading .pullDownIcon, #rjPullUp.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#summaryPullDown1.loading .pullDownIcon, #summaryPullUp1.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#summaryPullDown2.loading .pullDownIcon, #summaryPullUp2.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#summaryPullDown3.loading .pullDownIcon, #summaryPullUp3.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#summaryPullDown4.loading .pullDownIcon, #summaryPullUp4.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#summaryPullDown5.loading .pullDownIcon, #summaryPullUp5.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#summaryPullDown6.loading .pullDownIcon, #summaryPullUp6.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#summaryPullDown7.loading .pullDownIcon, #summaryPullUp7.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#summaryPullDown8.loading .pullDownIcon, #summaryPullUp8.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#summaryPullDown9.loading .pullDownIcon, #summaryPullUp9.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#summaryPullDown10.loading .pullDownIcon, #summaryPullUp10.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#summaryPullDown11.loading .pullDownIcon, #summaryPullUp11.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#summaryPullDown12.loading .pullDownIcon, #summaryPullUp12.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#summaryPullDown13.loading .pullDownIcon, #summaryPullUp13.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#summaryPullDown81.loading .pullDownIcon, #summaryPullUp81.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#rydwPullDown1.loading .pullDownIcon, #rydwPullUp1.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#swxcPullDown.loading .pullDownIcon, #swxcPullUp.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg) translateZ(0);
    }
    to {
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}